.navbar {
  padding-left: 8px;
  padding-right: 8px;
}

.navigation-image {
  width: 75px;
}

.navbar-brand {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 75px;
  font-weight: 400;
  font-family: 'Indie Flower', cursive;
}

.div-left {
  margin-left: auto;
}

.bg-footer {
  background-color: #DBE6FD;
  padding-top: 12px;
  padding-bottom: 12px;
}

.footer-text {
  margin-bottom: 0;
}

.bg-footer-icon1{
  display:inline-block;
}

.bg-footer-icon2{
  display:inline-block;
  position:absolute;
  right:100px;
}

.location-row-contactus{
  padding-bottom: 30px;
}

.zoom:hover {
  transition: 500ms;
  transform: scale(1.2);
}

.text-next-to-image{
  padding-top: 150px;
  font-family: 'Dancing Script', cursive;
  font-size:50px;
}

.text-underline-hover {
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
}
/* font-family: 'Indie Flower', cursive; */
